<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.orm.dao.AccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.lottery.orm.bo.AccountInfo">
    <id column="Userid" jdbcType="INTEGER" property="userid" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="AuserName" jdbcType="VARCHAR" property="ausername" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Limited" jdbcType="DOUBLE" property="limited" />
    <result column="Ratio" jdbcType="DOUBLE" property="ratio" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="InputDate" jdbcType="TIMESTAMP" property="inputdate" />
    <result column="UpdateIP" jdbcType="VARCHAR" property="updateip" />
    <result column="UpdateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="State" jdbcType="CHAR" property="state" />
    <result column="SupUserName" jdbcType="VARCHAR" property="supusername" />
    <result column="Level" jdbcType="VARCHAR" property="level" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="Webchat" jdbcType="VARCHAR" property="webchat" />
  </resultMap>
  <sql id="Base_Column_List">
    Userid, UserName, AuserName, Password, Limited, Ratio, IP, InputDate, UpdateIP, 
    UpdateDate, State, SupUserName, Level, Phone, Webchat
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_info
    where Userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_info
    where Userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lottery.orm.bo.AccountInfo">
    <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account_info (UserName, AuserName, Password, 
      Limited, Ratio, IP, InputDate, 
      UpdateIP, UpdateDate, State, 
      SupUserName, Level,Phone,Webchat)
    values (#{username,jdbcType=VARCHAR}, #{ausername,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{limited,jdbcType=DOUBLE}, #{ratio,jdbcType=DOUBLE}, #{ip,jdbcType=VARCHAR}, #{inputdate,jdbcType=TIMESTAMP}, 
      #{updateip,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}, #{state,jdbcType=CHAR}, 
      #{supusername,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{webchat,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.orm.bo.AccountInfo">
    <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        UserName,
      </if>
      <if test="ausername != null">
        AuserName,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="limited != null">
        Limited,
      </if>
      <if test="ratio != null">
        Ratio,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="inputdate != null">
        InputDate,
      </if>
      <if test="updateip != null">
        UpdateIP,
      </if>
      <if test="updatedate != null">
        UpdateDate,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="supusername != null">
        SupUserName,
      </if>
      <if test="level != null">
        Level,
      </if>
      <if test="phone != null">
        Phone,
      </if>
      <if test="webchat != null">
        Webchat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="ausername != null">
        #{ausername,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="limited != null">
        #{limited,jdbcType=DOUBLE},
      </if>
      <if test="ratio != null">
        #{ratio,jdbcType=DOUBLE},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="inputdate != null">
        #{inputdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateip != null">
        #{updateip,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="supusername != null">
        #{supusername,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="webchat != null">
        #{webchat,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.orm.bo.AccountInfo">
    update account_info
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="ausername != null">
        AuserName = #{ausername,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="limited != null">
        Limited = #{limited,jdbcType=DOUBLE},
      </if>
      <if test="ratio != null">
        Ratio = #{ratio,jdbcType=DOUBLE},
      </if>
      <if test="ip != null">
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="inputdate != null">
        InputDate = #{inputdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateip != null">
        UpdateIP = #{updateip,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=CHAR},
      </if>
      <if test="supusername != null">
        SupUserName = #{supusername,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        Level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="webchat != null">
        Webchat = #{webchat,jdbcType=VARCHAR},
      </if>      
      
    </set>
    where Userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.orm.bo.AccountInfo">
    update account_info
    set UserName = #{username,jdbcType=VARCHAR},
      AuserName = #{ausername,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Limited = #{limited,jdbcType=DOUBLE},
      Ratio = #{ratio,jdbcType=DOUBLE},
      IP = #{ip,jdbcType=VARCHAR},
      InputDate = #{inputdate,jdbcType=TIMESTAMP},
      UpdateIP = #{updateip,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=CHAR},
      SupUserName = #{supusername,jdbcType=VARCHAR},
      Level = #{level,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Webchat = #{webchat,jdbcType=VARCHAR}
    where Userid = #{userid,jdbcType=INTEGER}
  </update>
  
  <select id="selectByLogin" parameterType="com.lottery.orm.bo.AccountInfo" resultMap="BaseResultMap">  
    select 
    <include refid="Base_Column_List" />
    from account_info
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectBySupusername" resultMap="BaseResultMap">  
    select 
    <include refid="Base_Column_List" />
    from account_info
    where supusername = #{supusername,jdbcType=VARCHAR}
	<if test="beginrow != null and pageSize !=null">
	limit #{beginrow,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</if>
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">  
    select 
    <include refid="Base_Column_List" />
    from account_info
    where username = #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUserAndId" parameterType="com.lottery.orm.bo.AccountInfo" resultMap="BaseResultMap">  
    select 
    <include refid="Base_Column_List" />
    from account_info
    where username = #{username,jdbcType=VARCHAR} and userid != #{userid,jdbcType=INTEGER}
  </select>
  
  <update id="updateAccountState" parameterType="com.lottery.orm.bo.AccountInfo" >
    update account_info
    set State = #{state,jdbcType=CHAR}
   	<![CDATA[where FIND_IN_SET(supusername, 
	   (SELECT GROUP_CONCAT(Level SEPARATOR ',') FROM (
	      SELECT @Ids := (SELECT GROUP_CONCAT(username SEPARATOR ',') FROM offaccount_info WHERE FIND_IN_SET(supusername, @Ids) ) Level
	      FROM offaccount_info
	      JOIN (SELECT @Ids := #{supusername,jdbcType=VARCHAR}) temp1
	      WHERE FIND_IN_SET(supusername, @Ids)
	   ) temp2 )
	)]]>
  </update>   
  
  <update id="updateAccountSupuserState" parameterType="com.lottery.orm.bo.AccountInfo" >
    update account_info
    set State = #{state,jdbcType=CHAR}
    where SupUserName = #{supusername,jdbcType=VARCHAR}
  </update>  
  
</mapper>